head, body {
    height: 100%;
}
body {
    font-family: sans-serif;
    background: linear-gradient(to left, #FEAC5E,#C779D0, #4BC0C8) no-repeat;
    font-size:20px;
    animation: gradient 10s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
header {
    background: linear-gradient(to right, #FEAC5E, #C779D0, #4BC0C8) no-repeat;
    font-size:20px;
    border: 1px solid black;
    border-radius:5px;
}
header a {
    text-decoration:none;
    color:#48160b;
    margin-bottom:15px;
    display:block;
    text-align:center;
}
header img {
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    width: 100px;
    height:100px ;
    display:block;
    margin:0 auto;
}
header p {
    margin-top: 15px;
    text-align:center;
}
main h1 {
    text-align:center;
    border:1px solid black;
    border-radius:10px;
    background: linear-gradient(to right, #FEAC5E, #C779D0, #4BC0C8) no-repeat;
    color:#E39695;

}
nav {
    border:1px solid black;
    border-radius:5px;
    background: linear-gradient(to right, #FEAC5E, #C779D0, #4BC0C8) no-repeat;
    margin-top:15px;
    margin-bottom:15px;
    display:block;
    text-align:center;
}
nav a {
    text-decoration:none;
    color:
}
footer {
    background: linear-gradient(to right, #FEAC5E, #C779D0, #4BC0C8) no-repeat;
    border:1px solid black;
    border-radius:5px;
}
div p {
    color:#002A78;
    font-size:20px;
    text-align:center;
}
div {
    background: linear-gradient(to right, #FEAC5E, #C779D0, #4BC0C8) no-repeat;
    border:1px solid black;
    border-radius:5px;
}
div img {
    width:100px;
    height:100px;
}
main {
    margin-top:15px;
    margin-bottom:15px;
}
main h2 {
    border:1px solid black;
    border-radius:5px;
    text-align:center;
}
#discount, #delivery, #wholesale, #about_us, #price  {
    background: linear-gradient(to right, #FEAC5E, #C779D0, #4BC0C8) no-repeat;
}
a {
    text-decoration: none;
    color:#C80064;
}
h1 {
    text-transform:uppercase;
}
img {
    display:block;
    margin:0 auto;
}
